@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
/* Primary */

--Light-red: hsl(0, 100%, 67%);
--Orange: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* --paddingR : 10px; */

/* ## Gradients */
/* (background) */
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue : hsl(241, 81%, 54%);
/* (circle) */
--Violet-blue : hsla(256, 72%, 46%, 1);
--Persian-blue : hsla(241, 72%, 46%, 0);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    display: flex;
    justify-content: center;
    /* background: var(--raghad); */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* padding: calc(var(--paddingR) + 20px); */
    width: 600px;
    font-family: "Hanken Grotesk", sans-serif;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;

}
.result {
    border-radius: 20px;
    width: 250px;
    background-color: var(--Violet-blue);   /*For browsers that do not support gradients*/
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    border-radius: 500px;
    background-color: var(--Violet-blue);
    /* background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsl(252, 100%, 67%)); */
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsl(252, 100%, 67%));
    
}
.container_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.summary {
    border-radius: 20px;
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px hsl(221, 100%, 96%);
}
.reaction {
    background-color: hsla(0, 100%, 67%, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.memory {
    background-color: hsla(0, 100%, 67%, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
